@font-face {
    font-family:'navigation';
    src: url("font/nav_font.ttf");
}
body{
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.main_parent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent{
    position: relative;
    width: 1000px; height: 2000px;
    display: flex;
   
}
.banner{
    position:absolute;
    width: 975px; height: 60px;
    border-style:double;
    border-color: rgb(78, 78, 1);
    padding: 10px;
    background-color: #181b21;
    border-radius: 10px;
}
.logo{
    position: absolute;
    width: 100px; height: 100px;
    background-color: white;
    border-radius: 100%;
}
.logo:hover{
    transform: rotate(-5deg);
    width: 150px; height: 150px;
}
.navigation{
    position: absolute;
    margin-left: 300px;
    display: flex;
    flex-direction: row;
    column-count: 3;
    column-gap: 120px;
    text-align: center;
    color:white;
}
.nav a{
    font-family: 'navigation';
    text-decoration: none;
    color:white;
}
.nav a:hover{
    color: rgb(255, 238, 0);
}
.slideshow{
    margin-top: 85px;
    width: 1000px; height: 400px;
    background-color:rgb(219, 206, 27);
    border-radius: 10px;
}
.content_main{
    position: relative;
    margin-top: 500px;
    width: 1000px; height: 2000px;
    background-color: orange;
    border-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.main_meals{
 position: absolute;
 width: 900px; height: 1000px;
 margin-top: 20px;
 display: flex;
 flex-direction: column;
 row-gap: 10px;
 background-color: rgb(196, 209, 7);
}
.favorite_meals{
    position: absolute;
    color: white;
    font-family: 'navigation' ;
    src: url("font/nav_font.ttf");
    width: 220px; height: 60px;
    background-color: red;
    margin-top: 10px;
    margin-left: 360px;
    text-align: center;
    border-radius: 10px;
    border-style:ridge;
    border-color:  black;
}
.row1{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex: 4;
    column-gap: 90px;
    margin-top: 120px;
    margin-left: 50px;
}
.menu1{
    width: 130px; height: 130px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu1:hover{
    transform:rotate(1deg);
    width: 140px; height: 140px;
    opacity: 0.9;
    background-color: rgb(182, 236, 236);
}
#nav1{
    color: rgb(255, 238, 0);
}
#nav2{
    color: rgb(255, 238, 0);
}
#nav3{
    color: rgb(255, 238, 0);
}