@font-face {
    font-family:'navigation';
    src: url("font/nav_font.ttf");
}
body{
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.main_parent{
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent{
    position: relative;
    width: 1000px; height: 2000px;
    align-items: center;
    justify-content: center;
}
.banner{
    position:absolute;
    margin-top:auto ; margin-right: auto;
    width: 1200px; height: 60px;
    padding: 10px;
    background-color: #181b21;
}
.logo{
    position: absolute;
    width: 200px; height: 200px;
    background-color: white;
    border-radius: 100%;
    opacity: 0.85;
}
.logo:hover{
    transform: rotate(-20deg);
    width: 250px; height: 250px;
    opacity: 1;
}
.navigation{
    position: absolute;
    margin-left: 380px;
    display: flex;
    flex-direction: row;
    column-count: 3;
    column-gap: 180px;
    text-align: center;
    color:white;
}
.nav{
    width: auto; height: auto;
    font-family: 'navigation';
    opacity: 0.85;
    transition: 200ms;
}
.nav:hover{
    color: rgb(245, 230, 18);
    transform: skewY(100deg);
    transform: scaleZ(100%);
    opacity: 1;
}
