body{
    width:auto;
    height:auto;
    background:white;
}

.parent{
    position: relative;

    width: auto;
    height: auto;
    background-color:rgb(245, 201, 8);
    background-image: url("Images/background.jpg") ;
    

}
    .container{
        position: absolute;
        height: 300px;
        width: 600px;
        background-color: #f82500;
    }
    